@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fino Sans';
  src: url('/public/fonts/Fino_Sans_Medium.otf') format('opentype'),
    url('/public/fonts/Fino_Sans_Medium.ttf') format('truetype');
  /* font-weight: 500; */
  font-style: normal;
}

.logo {
  font-family: 'Fino Sans', sans-serif;
  /* font-weight: 500; */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active-navlink {
  color: white !important;
  font-weight: bold;
  background-color: #778996 !important;
}